<div class="pageBoxLg ">
  <label class="pageBoxLg-label d-sm-none d-md-block">Super Category</label>
  <div>
    <form [formGroup]="superCategoryForm" novalidate (ngSubmit)="add(superCategoryForm)">
      <div class="container-fluid">
        <div class="row ">
          <div class="form-group col-sm-12 col-md-5">
            <div class="textContainer">
              <input type="text" placeholder="Category Name" class="form-control required appTextBox" required formControlName="categoryName"
              />
              <span class="appTextBoxSpan">Category Name</span>
            </div>
            <div *ngIf="superCategoryForm.controls['categoryName'].errors
                               && !superCategoryForm.controls['categoryName'].pristine" class="alert alert-danger">
              <div [hidden]="!superCategoryForm.controls['categoryName'].errors.required">Category Name is required</div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-5">
            <div class="textContainer">
              <input type="text" placeholder="Category Description" class="form-control required appTextBox" required formControlName="categoryDescription"
              />
              <span class="appTextBoxSpan">Category Description</span>
            </div>
            <div *ngIf="superCategoryForm.controls['categoryDescription'].errors
                                 && !superCategoryForm.controls['categoryDescription'].pristine" class="alert alert-danger">
              <div [hidden]="!superCategoryForm.controls['categoryDescription'].errors.required">Category Description is required</div>
            </div>
          </div>
          <div class="col-sm-12 col-md-2 btnpink-textbox-inline">
            <input class="btn btnPink btn-block" value="SAVE" type="submit" [disabled]='!superCategoryForm.valid'>

          </div>
        </div>


        <!--show the table-->
        <div *ngIf="showDetails">
          <div class="row gridRow d-sm-none d-md-block">
            <div class="col-md-5">
              <div class="form-group">
                <label>Category Name</label>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label>Category Description</label>
              </div>
            </div>
            <div class="col-md-2">
              <div>
                <label>Edit</label>
              </div>
            </div>
          </div>
          <!--data-->
          <div *ngIf="!showEdit">
            <div class="row gridRow" *ngFor="let cat of superCategories">
              <div class="col-md-5 form-group">
                {{cat.categoryName}}
              </div>
              <div class="col-md-5 form-group">
                {{cat.categoryDescription}}
              </div>
              <div class="col-md-2">
                <input type="button" class="btn btn-primary btn-block" value="Edit" (click)="toggleEdit()" />
              </div>
            </div>
          </div>
          <div *ngIf="showEdit">
            <div class="row gridRow" *ngFor="let cat of superCategories">
              <input class="form-control" hidden type="text" formControlName="_id" [value]="cat._id" #superCatId />

              <div class="col-md-5 form-group">
                <input class="form-control" type="text" formControlName="uName" [value]="cat.categoryName" #superCatName/>
              </div>

              <div class="col-md-5">
                <input class="form-control" type="text" formControlName="uDesc" [value]="cat.categoryDescription" #superCatDesc/>
              </div>

              <div class="col-md-1">
                <input type="button" class="btn btn-success btn-block" value="Update" (click)="edit(superCategoryForm, superCatId,superCatName,superCatDesc)"
                />
              </div>

              <div class="col-md-1">
                <input type="button" class="btn btn-danger btn-block" value="Delete" (click)="delete(superCategoryForm, superCatId)" />
              </div>
            </div>
          </div>
          <!--data closing-->

          <!--clossing-->
        </div>
      </div>
    </form>
  </div>
</div>