<form [formGroup]="viewCatalogForm" novalidate style="padding-top:60px">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-9 mx-auto">

        <div class="container-fluid">
          <div class="row">

            <div class="col-md-2">
              <div class="form-group">
                <label>Catalog Name</label>
              </div>
            </div>

            <div class="col-md-2 ">
              <div class="form-group">
                <label>Category type</label>
              </div>
            </div>

            <div class="col-md-1 ">
              <div class="form-group">
                <label>Material</label>
              </div>
            </div>

            <div class="col-md-1 ">
              <div class="form-group">
                <label>Capacity</label>
              </div>
            </div>

            <div class="col-md-2 ">
              <div class="form-group">
                <label>Catalog Description</label>
              </div>
            </div>


            <div class="col-md-2 ">
              <div class="form-group">
                <label>Work</label>
              </div>
            </div>

            <div class="col-md-1 ">
              <div class="form-group">
                <label>Dispatch</label>
              </div>
            </div>

            <div class="col-md-1 ">
              <div class="form-group">
                <label>imageType</label>
              </div>
            </div>



          </div>
        </div>
        <div class="container">
          
          <div class="row" *ngFor="let catalog of catalogs">

            <div class="col-md-2 form-group">
              {{catalog.catalogName}}
            </div>

            <div class="col-md-2 form-group">
              {{catalog.catalogType}}
            </div>

            <div class="col-md-1 form-group">
              {{catalog.material}}
            </div>


            <div class="col-md-1 form-group">
              {{catalog.capacity}}
            </div>

            <div class="col-md-2 form-group">
              {{catalog.catalogDescription}}
            </div>

            <div class="col-md-2 form-group">
              {{catalog.work}}
            </div>


            <div class="col-md-1 form-group">
              {{catalog.dispatch}}
            </div>

            <div class="col-md-1 form-group">
              {{catalog.imageType}}
            </div>

          </div>

        </div>

        <div class="form-group">
            <a  [routerLink]="['/Catalog']"><button class="btn btn-success pull-right" >Edit</button></a>
        </div>

      </div>
    </div>
  </div>
</form>