<div class="container-fluid pageBox">
  <div class="row">
    <div class="col-md-9">
      <!-- Put the Text Boxes over here -->
    </div>
    <div class="col-md-3 form-group">
      <div>
        <img #loadedImage style="width: 180px; height: 345px;" />
      </div>
      <div>
        <input type="file"  class="btn btnPink btn-block" id="file" (change)="handleFileInput($event.target.files, loadedImage)">
      </div>
    </div>
  </div>
  <input type="button" class="btn btnPink btn-block" (click)="save()" value="Save" />
</div>
<div>

</div>