<form [formGroup]="editCatalogForm" novalidate style="padding-top:60px">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-4 mx-auto">

        <div class="container-fluid">
          <div class="row">



            <div class="col-md-4">
              <div class="form-group">
                <label>Catalog Name</label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Category type</label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Material</label>
              </div>
            </div>

          </div>
        </div>
      </div>



      <div class="col-md-4 mx-auto">

        <div class="container-fluid">
          <div class="row">

            <div class="col-md-4">
              <div class="form-group">
                <label>Capacity</label>
              </div>
            </div>

            <div class="col-md-4 ">
              <div class="form-group">
                <label>Catalog Description</label>
              </div>
            </div>

            <div class="col-md-4 ">
              <div class="form-group">
                <label>Work</label>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-4 mx-auto">

        <div class="container-fluid">
          <div class="row">

            <div class="col-md-4">
              <div class="form-group">
                <label>Dispatch</label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>imageType</label>
              </div>
            </div>


          </div>
        </div>
      </div>


      <div class="container-fluid">
        <div *ngIf="!showEdit">
        <div class="row" *ngFor="let catalog of catalogs">

          <div class="col-md-4 mx-auto">

            <div class="container-fluid">
              <div class="row">

                <div class="col-md-4 form-group">
                  {{catalog.catalogName}}
                </div>

                <div class="col-md-4 form-group">
                  {{catalog.catalogType}}
                </div>

                <div class="col-md-4 form-group">
                  {{catalog.material}}
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-4 mx-auto">

            <div class="container-fluid">
              <div class="row">


                <div class="col-md-4 form-group">
                  {{catalog.capacity}}
                </div>

                <div class="col-md-4 form-group">
                  {{catalog.catalogDescription}}
                </div>

                <div class="col-md-4 form-group">
                  {{catalog.work}}
                </div>

              </div>
            </div>
          </div>

          <div class="col-md-4 mx-auto">

            <div class="container-fluid">
              <div class="row">

                <div class="col-md-4 form-group">
                  {{catalog.dispatch}}
                </div>

                <div class="col-md-4 form-group">
                  {{catalog.imageType}}
                </div>

                <div class="col-md-4">
                  <input type="button" class="btn btn-primary btn-block" value="Edit" (click)="toggleEdit()" />
                </div>
              </div>
              </div>
            </div>
          </div>

        </div>
      </div>



      <div class="container-fluid">

          <div *ngIf="showEdit">
          <div class="row" *ngFor="let catalog of catalogs">
  
            <div class="col-md-4 mx-auto">
  
              <div class="container-fluid">
                <div class="row">
                    <input class="form-control" type="text"  hidden formControlName="catalogName"  [value]="catalog._id" #catalogID/>
                  <div class="col-md-4 form-group">
                      <input class="form-control" type="text" formControlName="catalogName" [value]="catalog.catalogName" #catalogName/>
                  </div>
  
                  <div class="col-md-4 form-group">
                      <input class="form-control" type="text" formControlName="catalogType" [value]="catalog.catalogType" #catalogType/>
                  </div>
  
                  <div class="col-md-4 form-group">
                      <input class="form-control" type="text" formControlName="material" [value]="catalog.material" #material/>
                  </div>
                </div>
              </div>
            </div>
  
  
            <div class="col-md-4 mx-auto">
  
              <div class="container-fluid">
                <div class="row" >
  
  
                  <div class="col-md-4 form-group">
                      <input class="form-control" type="text" formControlName="capacity" [value]="catalog.capacity" #capacity/>
                   
                  </div>
  
                  <div class="col-md-4 form-group">
                      <input class="form-control" type="text" formControlName="catalogDescription" [value]="catalog.catalogDescription" #catalogDescription/>
                   
                  </div>
  
                  <div class="col-md-4 form-group">
                      <input class="form-control" type="text" formControlName="work" [value]="catalog.work" #work/>
                   
                  </div>
  
                </div>
              </div>
            </div>
  
            <div class="col-md-4 mx-auto">
  
              <div class="container-fluid">
                <div class="row">
  
                  <div class="col-md-4 form-group">
                      <input class="form-control" type="text" formControlName="dispatch" [value]="catalog.dispatch" #dispatch/>
                  </div>
  
                  <div class="col-md-4 form-group">
                      <input class="form-control" type="text" formControlName="imageType" [value]="catalog.imageType" #imageType/>
                  </div>
  
                  <div class="col-md-2">
                    <input type="button" class="btn btn-success btn-block" value="update" (click)="edit(editCatalogForm,catalogID,catalogName,catalogType,material,capacity,catalogDescription,work,dispatch,imageType)" />
                  </div>

                  <div class="col-md-2">
                      <input type="button" class="btn btn-danger btn-block" value="delete" (click)="del(editCatalogForm,catalogID)" />
                    </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>


    </div>
  </div>
</form>