<form [formGroup]="catalogForm" class="pageBox" novalidate>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6  mx-auto">


        <input type="text" hidden placeholder="Catalog Id" class="form-control required appTextBox" required formControlName="catalogId"
          #catalogId/>

          <div class="form-group">
            <div class="textContainer">
              <input type="text" placeholder="Catalog Title" class="form-control required appTextBox" required formControlName="catalogTitle"
                #catalogName/>
              <span class="appTextBoxSpan">Catalog Title</span>
            </div>
            <div *ngIf="catalogForm.get('catalogTitle').errors
                                 && !catalogForm.get('catalogTitle').pristine" class="alert alert-danger">
              <div [hidden]="!catalogForm.get('catalogTitle').errors.required">Please enter Catalog Title</div>
            </div>
          </div>
        <div class="form-group">
          <div class="textContainer">
            <input type="text" placeholder="Catalog Name" class="form-control required appTextBox" required formControlName="catalogName"
              #catalogName/>
            <span class="appTextBoxSpan">Catalog Name</span>
          </div>
          <div *ngIf="catalogForm.get('catalogName').errors
                               && !catalogForm.get('catalogName').pristine" class="alert alert-danger">
            <div [hidden]="!catalogForm.get('catalogName').errors.required">Please enter Catalog Name</div>
          </div>
        </div>

        <div class="form-group">
          <div class="textContainer">
            <input type="text" placeholder="Style Code" class="form-control required appTextBox" required formControlName="styleCode"
              #catalogName/>
            <span class="appTextBoxSpan">Style Code</span>
          </div>
          <div *ngIf="catalogForm.get('styleCode').errors
                               && !catalogForm.get('styleCode').pristine" class="alert alert-danger">
            <div [hidden]="!catalogForm.get('styleCode').errors.required">Please enter Style Code</div>
          </div>
        </div>

        <div class="form-group">
          <div class="textContainer">
            <input type="text" placeholder="Minimum order Quantity" class="form-control  appTextBox" required formControlName="moq"
              #catalogName/>
            <span class="appTextBoxSpan">M.O.Q</span>
          </div>
          <div *ngIf="catalogForm.get('moq').errors
                               && !catalogForm.get('moq').pristine" class="alert alert-danger">
            <div [hidden]="!catalogForm.get('moq').errors.required">Please enter M.O.Q</div>
          </div>
        </div>


        <!-- <div class="form-group">
          <div class="textContainer">
            <input type="text" placeholder="Catalog Type" class="form-control required appTextBox" required formControlName="catalogType"
              #catalogType />
            <span class="appTextBoxSpan">Catalog type</span>
          </div>
          <div *ngIf="catalogForm.get('catalogType').errors
                               && !catalogForm.get('catalogType').pristine" class="alert alert-danger">
            <div [hidden]="!catalogForm.get('catalogType').errors.required">Please enter Catalog type</div>
          </div>
        </div> -->


       <!--  <div class="form-group">
          <div class="textContainer">
            <input type="text" placeholder="Material" class="form-control required appTextBox" required formControlName="material" #material/>
            <span class="appTextBoxSpan">Material</span>
          </div>
          <div *ngIf="catalogForm.get('material').errors
                                 && !catalogForm.get('material').pristine" class="alert alert-danger">
            <div [hidden]="!catalogForm.get('material').errors.required">Please enter Material</div>
          </div>
        </div> -->


       <!--  <div class="form-group">
          <div class="textContainer">
            <input type="text" placeholder="Capacity" class="form-control required appTextBox" required formControlName="capacity" #capacity/>
            <span class="appTextBoxSpan">Capacity</span>
          </div>
          <div *ngIf="catalogForm.get('capacity').errors
                                   && !catalogForm.get('capacity').pristine" class="alert alert-danger">
            <div [hidden]="!catalogForm.get('capacity').errors.required">Please enter Capacity</div>
          </div>
        </div> -->


        <div class="form-group">
          <div class="textContainer">
            <input type="text" placeholder="Catalog Description" class="form-control required appTextBox" required formControlName="catalogDescription"
              #catalogDescription/>
            <span class="appTextBoxSpan">Catalog Description</span>
          </div>
          <div *ngIf="catalogForm.get('catalogDescription').errors
                                     && !catalogForm.get('catalogDescription').pristine" class="alert alert-danger">
            <div [hidden]="!catalogForm.get('catalogDescription').errors.required">Please enter Catalog Description</div>
          </div>
        </div>

       <!--  <div class="form-group">
          <div class="textContainer">
            <input type="text" placeholder="Work" class="form-control required appTextBox" required formControlName="work" #work/>
            <span class="appTextBoxSpan">Work</span>
          </div>
          <div *ngIf="catalogForm.get('work').errors
                                       && !catalogForm.get('work').pristine" class="alert alert-danger">
            <div [hidden]="!catalogForm.get('work').errors.required">Please enter Work</div>
          </div>
        </div> -->




       <!--  <div class="form-group">
          <div class="textContainer">
            <input type="text" placeholder="Dispatch" class="form-control required appTextBox" required formControlName="dispatch" #dispatch/>
            <span class="appTextBoxSpan">Dispatch</span>
          </div>
          <div *ngIf="catalogForm.get('dispatch').errors
                                       && !catalogForm.get('dispatch').pristine" class="alert alert-danger">
            <div [hidden]="!catalogForm.get('dispatch').errors.required">Please enter Dispatch</div>
          </div>
        </div> -->

       <!--  <div class="form-group">
          <div class="textContainer">
            <input type="text" placeholder="ImageType" class="form-control required appTextBox" required formControlName="imageType"
              #imageType/>
            <span class="appTextBoxSpan">ImageType</span>
          </div>
          <div *ngIf="catalogForm.get('imageType').errors
                                         && !catalogForm.get('imageType').pristine" class="alert alert-danger">
            <div [hidden]="!catalogForm.get('imageType').errors.required">Please enter ImageType</div>
          </div>
        </div> -->

        <div *ngIf="!showUpdate">
          <input type="submit" class="btn btnPink btn-block" value="Save" (click)="catalogSave(catalogForm)" />
        </div>

        <div *ngIf="showUpdate">
          <input type="submit" class="btn btnPink btn-block" value="Update" (click)="edit(editeditCatalogForm, catalogId.value,
          catalogName.value, catalogType.value, material.value, capacity.value,
          catalogDescription.value, work.value, dispatch.value, imageType.value)" />
        </div>
      </div>

      <div class="col-md-3 form-group">
        <div>
          <img [src]="this.loadedCatalogModel?.catalogImageName" #loadedImage style="width: 180px; height: 345px;" />
        </div>
        <div>
          <input type="file" name="file" class="btn btnPink btn-block" id="file" (change)="handleFileInput($event.target.files, loadedImage)">
        </div>
      </div>
    </div>
  </div>
</form>