<form [formGroup]="resetPasswordForm" (ngSubmit)="resetSubmit(resetPasswordForm)" novalidate style="padding-top:60px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="">
          <div class="form-group">
            <input class="form-control required" required placeholder="Enter new password" formControlName="newPassword" type="password">
            <div *ngIf="resetPasswordForm.controls['newPassword'].errors
                               && !resetPasswordForm.controls['newPassword'].pristine" class="alert alert-danger">
              <div [hidden]="!resetPasswordForm.controls['newPassword'].errors.required">New Password is required.</div>
            </div>
          </div>
          <div class="form-group">
            <input class="form-control required" required placeholder="Re-type new password" formControlName="confirmPassword" type="password">
            <div *ngIf="resetPasswordForm.controls['confirmPassword'].errors
                             && !resetPasswordForm.controls['confirmPassword'].pristine" class="alert alert-danger">
              <div [hidden]="!resetPasswordForm.controls['confirmPassword'].errors.required">
                Password is required.
              </div>
            </div>
          </div>
          <input class="btn btn-primary btn-block" value="CHANGE PASSWORD" type="submit" [disabled]='!resetPasswordForm.valid'>

        </div>
      </div>
    </div>
  </div>
</form>
