<form [formGroup]="editCategoryForm" novalidate style="padding-top:60px" >
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 mx-auto">
  
          <div class="form-group">
             
                   <div class="col-md-6"><label>Please select Super Category</label></div>
            <select #select (change)="getCategory(select.value)"  class="hideLabel form-control" >
             <option> </option>
              <option *ngFor="let name of CategoryName" [value]="name._id">
                  {{name.categoryName}}
              </option>
          </select>
  
         
             </div>  
  
  
             <div *ngIf="showMaincat">
                <div class="container-fluid">
                  <div class="row">
      
                    <div class="col-md-4">
      
                      <div class="form-group">
                        <label>Main Category Name</label>
                      </div>
                    </div>
      
                    <div class="col-md-4 ">
                      <div class="form-group">
                        <label> Main Category Description</label>
      
                      </div>
                    </div>

                    <div class="col-md-4 ">
                      <div>
                        <label>Edit</label>
                      </div>
                    </div>
  
                    <div class="container">
                      <div *ngIf="!showEdit">
                          <div class="row" *ngFor="let cat of catData.mainCategory">
                            <div class="col-md-4 form-group">
                              {{cat.mainCategoryName}}
                            </div>
                            <div class="col-md-4 form-group">
                              {{cat.mainCategoryDescription}}
                            </div>
                            
                            <div class="col-md-4">
  
                              <input type="button" class="btn btn-primary btn-block" value="Edit" (click)="toggleEdit()" />
                            </div>
                          </div>
                           
                          </div>
                          <div *ngIf="showEdit">
                              <input class="form-control" hidden   type="text" formControlName="supID" [value]="this.headCatSelected" #supId />
                              
                              <div class="row" *ngFor="let cat of catData.mainCategory">
                                <input class="form-control" hidden type="text" formControlName="_id" [value]="cat._id" #mainCatId />
            
                                <div class="col-md-3 form-group">
                                  <input class="form-control" type="text" formControlName="name" [value]="cat.mainCategoryName" #mainCatName/>
                                </div>
            
                                <div class="col-md-3">
                                  <input class="form-control" type="text" formControlName="desc" [value]="cat.mainCategoryDescription" #mainCatDesc/>
                                </div>
            
                                <div class="col-md-3">
                                  <input type="button" class="btn btn-success btn-block" value="Update" (click)="edit(editCategoryForm, supId, mainCatId,mainCatName,mainCatDesc)"
                                  />
                                </div>
                                
                                <div class="col-md-3">
                                  <input type="button" class="btn btn-danger btn-block" value="Delete" (click)="delete(editCategoryForm, supId,mainCatId)" />
                                </div>
                              </div>
                            </div>
                       </div>
                       <a  [routerLink]="['/MainCategory']"><button class="btn btn-success pull-right" >Cancel</button></a>
                       
                     </div>
                 </div>
              </div>
          
        </div>
      </div>
    </div>
  </form>