html,
body {
  height: 100%;
  background-color: #e9e7e7;
  font-size: 13px;
  font-weight: 500;
}

.whiteColor {
  color: rgba(255, 255, 255, 255) !important;
}

.menuTransparent {
  background-color: transparent !important;
}

.sidebar {
  transition: all 1s;
}

.btnPink,
.btnPink:disabled {
  background-color: #FF527B;
  color: #FFFFFF;
  letter-spacing: 2px;
}

.btnPink:hover {
  background-color: #b7022f;
  color: #fff;
}

.paddingMarginZero{
  padding: 0;
  margin: 0 ;
}