html,
body {
  height: 100%;
  background-color: #e9e7e7;
  font-size: 13px;
  font-weight: 500;
}

.whiteColor {
  color: rgba(255, 255, 255, 255) !important;
}

.menuTransparent {
  background-color: transparent !important;
}

.sidebar {
  transition: all 1s;
}

.btnPink,
.btnPink:disabled {
  background-color: #FF527B;
  color: #FFFFFF;
  letter-spacing: 2px;
}

.btnPink:hover {
  background-color: #b7022f;
  color: #fff;
}

.paddingMarginZero{
  padding: 0;
  margin: 0 ;
}

.textContainer {
  position: relative;
  padding-top: 10px;
}

.appTextBox {
  padding: 10px 10px 10px 5px;
}

.appTextBoxSpan {
  visibility: hidden;
  position: absolute;
}

.textContainer input:focus ~ span , .textContainer input:valid ~ span  {
  visibility: visible;

  position: absolute;
  top: 0;
  left: 10px;
  background-color: white;
  font-size: 8pt;
  border-radius: 8px;
  padding: 0px 5px;
  transition: padding 3s ;
  -moz-transition: padding 3s ;
  -webkit-transition: padding 3s ;
}

.pageBox {
  width: 70%;
  background: #FFF;
  padding-bottom: 40px;
  margin: 80px auto;
  position: relative;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 992px) {
  .pageBox {
    width: 90%;
  }
}

