<div class="pageBoxLg ">
  <label class="pageBoxLg-label display-none-small">Main Category</label>
  <div>
    <form [formGroup]="mainCategoryForm" novalidate >
      <div class="container-fluid container-fuid-padding-small">
        <div class="row ">
            <div class="form-group col-sm-12 col-md-3">
                <div class="textContainer">
                    <select #selectElem (change)="setNewUser(selectElem.value)"  class="hideLabel form-control" >
                        <option>Select super category</option>
                        <option *ngFor="let category of Categoryname" [value]="category._id">
                            {{category.categoryName}}
                        </option>
                    </select>
                    
              </div>
              <input class="form-control"    hidden type="text" formControlName="ID" [value]="this.headerCatSelectedData" #superCat />
              </div>

          <div class="form-group col-sm-12 col-md-3">
            <div class="textContainer">
              <input type="text" placeholder="Category Name" class="form-control required appTextBox" required formControlName="mainCategoryName"
              />
              <span class="appTextBoxSpan">Category Name</span>
            </div>
            <div *ngIf="mainCategoryForm.controls['mainCategoryName'].errors
                               && !mainCategoryForm.controls['mainCategoryName'].pristine" class="alert alert-danger">
              <div [hidden]="!mainCategoryForm.controls['mainCategoryName'].errors.required">Category Name is required</div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-3">
            <div class="textContainer">
              <input type="text" placeholder="Category Description" class="form-control required appTextBox" required formControlName="mainCategoryDescription"
              />
              <span class="appTextBoxSpan">Category Description</span>
            </div>
            <div *ngIf="mainCategoryForm.controls['mainCategoryDescription'].errors
                                 && !mainCategoryForm.controls['mainCategoryDescription'].pristine" class="alert alert-danger">
              <div [hidden]="!mainCategoryForm.controls['mainCategoryDescription'].errors.required">Category Description is required</div>
            </div>
          </div>
          <div class="col-sm-12 col-md-2 btnpink-textbox-inline">
            <input class="btn btnPink btn-block" value="SAVE" type="submit" (click)="save(mainCategoryForm,superCat.value)" [disabled]='!mainCategoryForm.valid'>

          </div>
        </div>


         <!--show the table-->
        <div>
          <div class="row gridRowHeader display-none-small">
              
            <div class="col-md-5 vcenterHeader">
              <div class="form-group">
                <label>Category Name</label>
              </div>
            </div>
            <div class="col-md-5 vcenterHeader">
              <div class="form-group">
                <label>Category Description</label>
              </div>
            </div>
            <div class="col-md-2 vcenterHeader">
              <div>
                <label>Edit</label>
              </div>
            </div>
          </div> 
          <!--data-->
          <div class="col-sm-12 col-md-4 vcenter form-group">
              <select #select (change)="getCategory(select.value)"  class="hideLabel form-control" >
                  <option>Please select Super Category </option>
                   <option *ngFor="let name of Categoryname" [value]="name._id">
                       {{name.categoryName}}
                   </option>
               </select>
               <input class="form-control"  hidden  type="text" formControlName="supID" [value]="this.headCatSelected" #supId />

            </div> 

         <div *ngFor="let cat of mainCat?.mainCategory">
            <div class="row gridRow" *ngIf="!cat.editing">
              
              <div class="col-sm-12  display-none-large">
                <label class="gridLabel">Category Name:</label>
              </div>

              
              <div class="col-sm-12 col-md-5 vcenter form-group">
                {{cat.mainCategoryName}}
              </div>
              <div class="col-sm-12  display-none-large">
                <label class="gridLabel">Category Description:</label>
              </div>
              <div class="col-sm-12 col-md-5 vcenter form-group">
                {{cat.mainCategoryDescription}}
              </div>
              <div class="col-md-2 vcenter display-none-small">
                <a class="gridEdit" (click)="editGridRow(cat)">Edit</a>
              </div>
              <div class="editImage display-none-large" (click)="editGridRow(cat)">
                <i class="fa fa-edit "></i>
              </div>

            </div>
            <div class="row gridRow gridRowEditPadding" *ngIf="cat.editing">
              

              <input class="form-control"  hidden type="text" formControlName="_id" [value]="cat._id" #mainCatId />

              <div class="col-md-4 col-sm-12 form-group">
                <input class="form-control" type="text" formControlName="uName" [value]="cat.mainCategoryName" #mainCatName/>
              </div>

              <div class="col-md-4 col-sm-12 form-group">
                <input class="form-control" type="text" formControlName="uDesc" [value]="cat.mainCategoryDescription" #mainCatDesc/>
              </div>

              <div class="row">
                <div class="col-md-4 col-sm-4 form-group">
                  <input type="button" class="btn btn-success" value="Update" (click)="update(mainCategoryForm, supId,mainCatId,mainCatName,mainCatDesc)"
                  />
                </div>

                <div class="col-md-4 col-sm-4 form-group">
                  <input type="button" class="btn btn-danger" value="Delete" (click)="delete(mainCategoryForm, supId,mainCatId)" />
                </div>

                <div class="col-md-4 col-sm-4 form-group">
                  <input type="button" class="btn btnPink" value="Cancel" (click)="cancel(cat)" />
                </div>

              </div>
            </div>
          </div> 
          <!--data closing-->

          <!--clossing-->
        </div>
      </div> 
    </form>
  </div>
</div>