<form [formGroup]="mainCategoryForm" novalidate style="padding-top:60px" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 mx-auto">

        <div class="">

          <div class="form-group">
           

          <select #selectElem (change)="setNewUser(selectElem.value)"  class="hideLabel form-control" >
            <option>Select super category</option>
            <option *ngFor="let name of Categoryname" [value]="name._id">
                {{name.categoryName}}
            </option>
        </select>
           </div>    



          <div class="form-group">
          <div class="textContainer">
              <input type="text" placeholder="Category Name" class="form-control required appTextBox" required formControlName="mainCategoryName"
              />
              <span class="appTextBoxSpan">Category Name</span>
            </div>
            <div *ngIf="mainCategoryForm.controls['mainCategoryName'].errors
                               && !mainCategoryForm.controls['mainCategoryName'].pristine" class="alert alert-danger">
              <div [hidden]="!mainCategoryForm.controls['mainCategoryName'].errors.required">Category Name is required</div>
            </div>
          </div>

          <div class="form-group">
              <div class="textContainer">
                  <input type="text" placeholder="Category Description" class="form-control required appTextBox" required formControlName="mainCategoryDescription"
                  />
                  <span class="appTextBoxSpan">Category Description</span>
                </div>
                <div *ngIf="mainCategoryForm.controls['mainCategoryDescription'].errors
                                   && !mainCategoryForm.controls['mainCategoryDescription'].pristine" class="alert alert-danger">
                  <div [hidden]="!mainCategoryForm.controls['mainCategoryDescription'].errors.required">Category Description is required</div>
                </div>
              </div>

          <div class="form-group">
              <input class="form-control"   hidden type="text" formControlName="ID" [value]="this.headerCatSelectedData" #superCat />
            <button class="btn btn-primary btn-block"   (click)="save(mainCategoryForm,superCat.value)" >
              Save
            </button>
          </div>
        </div>
      
  

        <div class="form-group">
           
                 <div class="col-md-6"><label>Please select Super Category</label></div>
          <select #select (change)="getCategory(select.value)"  class="hideLabel form-control" >
           <option> </option>
            <option *ngFor="let name of Categoryname" [value]="name._id">
                {{name.categoryName}}
            </option>
        </select>

        <input class="form-control" hidden   type="text" formControlName="supID" [value]="this.headCatSelected" #supId />

       
           </div>  


           <div *ngIf="showMaincat">
              <div class="container-fluid">
                <div class="row">
    
                  <div class="col-md-6">
    
                    <div class="form-group">
                      <label>Main Category Name</label>
                    </div>
                  </div>
    
                  <div class="col-md-6 ">
                    <div class="form-group">
                      <label> Main Category Description</label>
    
                    </div>
                  </div>
                  

                  <div class="container">
                        <div class="row" *ngFor="let cat of mainCat.mainCategory">
                          <div class="col-md-6 form-group">
                            {{cat.mainCategoryName}}
                          </div>
                          <div class="col-md-6 form-group">
                            {{cat.mainCategoryDescription}}
                          </div>
                          
                         
                        </div>
                     </div>
                     <div class="col-md-4 ">
                        <div class="form-group">
                            <a  [routerLink]="['/AddCategory']"><button class="btn btn-success pull-right" >Edit</button></a>
        
                        </div>
                      </div>
                     
                   </div>
               </div>
            </div>
        
      </div>
    </div>
  </div>
</form>